## Data reading and checking

In [2]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
import matplotlib.pyplot as plt
import seaborn as sns

# Allow multiple output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
# import datasets 
df_delivered = pd.read_csv('dataset_delivered.csv',encoding='utf-8')
df_delivered.drop(['index', 'level_0'],axis=1,inplace=True)
df_phones = pd.read_csv('dataset_phones.csv',encoding='utf-8')

In [4]:
df_delivered.head()

,Дата,НомерЗаказаНаСайте,НовыйСтатус,Регион,Группа2,Группа3,Группа4,Тип,Номенклатура,ТипТовара,...,Телефон_new,ГородМагазина,МагазинЗаказа,ГодДаты,МесяцДаты,ДеньНеделиДаты,ДеньДаты,ВремяОкруглДаты,СуммаСтроки_v,Маржа_v
0,2017-03-01 12:22:00,3999117_TR,Доставлен,Уральский ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),боди,ОДЕЖДА,"GAMEX, БОДИ кор. рук. Roza, (бел/сер), р. 86, ...",МГТ,...,55575453-56535648535679,0,NaN,2017,3,3,1,12:00:00,379.0,169.2
1,2017-03-01 12:31:00,3999122_TR,Доставлен,Уральский ф.о.,ИГРУШКИ,ИГРУШКИ ДЛЯ ДЕВОЧЕК,имитационные игрушки для девочек,ИГРУШКИ,"ИГРУША, ХОЛОДИЛЬНИК (на бат), (29,5*19*45,5 см)",МГТ,...,55574950-57515657535772,0,NaN,2017,3,3,1,12:00:00,3325.0,2176.0
2,2017-03-01 11:38:00,3999411_TR,Доставлен,Приволжский ф.о.,ИГРУШКИ,ИГРУШКИ ДЛЯ РАЗВИТИЯ МАЛЫШЕЙ,игрушки для ванной,ИГРУШКИ,"S+S TOYS, ИГРУШКА ПВХ в наборе, (2 шт)",МГТ,...,55574854-56495552515179,0,NaN,2017,3,3,1,11:00:00,199.0,120.0
3,2017-03-01 12:19:00,3999682_TR,К отгрузке,Центральный ф.о.,ИГРУШКИ,КОНСТРУКТОРЫ,конструкторы - тип Лего,ИГРУШКИ,"LEGO Duplo, КОНСТРУКТОР Лошадки, (20 дет.)",МГТ,...,55574851-53495753545674,0,NaN,2017,3,3,1,12:00:00,719.0,50.4
4,2017-03-01 12:19:00,3999682_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКАЯ ОДЕЖДА (2-6 лет),леггинсы,ОДЕЖДА,"FUN TIME, ЛОСИНЫ р. 3 г",МГТ,...,55574851-53495753545674,0,NaN,2017,3,3,1,12:00:00,490.0,194.0

In [5]:
df_delivered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425809 entries, 0 to 425808
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Дата                425809 non-null  object
 1   НомерЗаказаНаСайте  425809 non-null  object
 2   НовыйСтатус         425809 non-null  object
 3   Регион              425809 non-null  object
 4   Группа2             374683 non-null  object
 5   Группа3             374683 non-null  object
 6   Группа4             354056 non-null  object
 7   Тип                 425809 non-null  object
 8   Номенклатура        425809 non-null  object
 9   ТипТовара           374683 non-null  object
 10  Отменено            425809 non-null  object
 11  Количество          425809 non-null  int64
 12  Цена                425809 non-null  float64
 13  ЦенаЗакупки         373770 non-null  float64
 14  МесяцДатыЗаказа     425809 non-null  int64
 15  ГодДатыЗаказа       425809 non-null  object
 16  Статус              425809 non-null  object
 17  Гео                 425809 non-null  object
 18  НомерСтроки         425809 non-null  int64
 19  ДатаЗаказаНаСайте   425809 non-null  object
 20  Телефон_new         425809 non-null  object
 21  ГородМагазина       425809 non-null  object
 22  МагазинЗаказа       2844 non-null    object
 23  ГодДаты             425809 non-null  int64
 24  МесяцДаты           425809 non-null  int64
 25  ДеньНеделиДаты      425809 non-null  int64
 26  ДеньДаты            425809 non-null  int64
 27  ВремяОкруглДаты     425809 non-null  object
 28  СуммаСтроки_v       425809 non-null  float64
 29  Маржа_v             373770 non-null  float64
dtypes: float64(4), int64(7), object(19)
memory usage: 97.5+ MB

In [7]:
df_delivered['Группа2'].unique()

array(['ТЕКСТИЛЬ, ТРИКОТАЖ', 'ИГРУШКИ', 'КРУПНОГАБАРИТНЫЙ ТОВАР', 'ОБУВЬ',
       'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ПОДГУЗНИКИ', 'КОСМЕТИКА/ГИГИЕНА',
       'ЖЕНСКИЕ ШТУЧКИ', 'КАНЦТОВАРЫ, КНИГИ, ДИСКИ',
       'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ДЕТСКОЕ ПИТАНИЕ', nan,
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА'], dtype=object)

In [8]:
phones_bought = pd.read_csv('Phone_new_del.csv', sep=';')

In [9]:
phones_bought

,Телефон_new,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,55575453-56535648535679,4875,846,0.17,70.50,380,12,16,6,1,846
1,55574950-57515657535772,3325,2176,0.65,2176.00,3325,1,1,1,1,2176
2,55574854-56495552515179,528,204,0.39,51.00,132,4,4,4,1,204
3,55574851-53495753545674,2962,654,0.22,109.00,494,6,6,6,1,654
4,55574948-52515357485779,2196,759,0.35,189.75,366,4,6,3,1,759
...,...,...,...,...,...,...,...,...,...,...,...
83610,55574851-50535648495271,886,296,0.33,296.00,443,1,2,2,1,296
83611,55575056-49565452495078,10390,2369,0.23,2369.00,10390,1,1,1,1,2369
83612,55575050-50505549555678,375,38,0.10,38.00,375,1,1,1,1,38
83613,55574948-52535051534878,320,57,0.18,57.00,320,1,1,1,1,57
83614,55575448-54485054565479,10390,2369,0.23,2369.00,10390,1,1,1,1,2369

In [10]:
phones_bought.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83615 entries, 0 to 83614
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Телефон_new                  83615 non-null  object
 1   Revenue                      83615 non-null  int64
 2   Absolute Margin              83615 non-null  int64
 3   Margin                       83615 non-null  float64
 4   Average Margin               83615 non-null  float64
 5   Average Check                83615 non-null  int64
 6   # of check                   83615 non-null  int64
 7   # of goods                   83615 non-null  int64
 8   Average # of goods in check  83615 non-null  int64
 9   # of unique clients          83615 non-null  int64
 10  Value of a Client            83615 non-null  int64
dtypes: float64(2), int64(8), object(1)
memory usage: 7.0+ MB

In [11]:
phones_bought = phones_bought[(phones_bought['Телефон_new'] != '0')]

In [12]:
showcase = phones_bought

In [13]:
showcase.head()

,Телефон_new,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,55575453-56535648535679,4875,846,0.17,70.50,380,12,16,6,1,846
1,55574950-57515657535772,3325,2176,0.65,2176.00,3325,1,1,1,1,2176
2,55574854-56495552515179,528,204,0.39,51.00,132,4,4,4,1,204
3,55574851-53495753545674,2962,654,0.22,109.00,494,6,6,6,1,654
4,55574948-52515357485779,2196,759,0.35,189.75,366,4,6,3,1,759

In [14]:
showcase.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83614 entries, 0 to 83614
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Телефон_new                  83614 non-null  object
 1   Revenue                      83614 non-null  int64
 2   Absolute Margin              83614 non-null  int64
 3   Margin                       83614 non-null  float64
 4   Average Margin               83614 non-null  float64
 5   Average Check                83614 non-null  int64
 6   # of check                   83614 non-null  int64
 7   # of goods                   83614 non-null  int64
 8   Average # of goods in check  83614 non-null  int64
 9   # of unique clients          83614 non-null  int64
 10  Value of a Client            83614 non-null  int64
dtypes: float64(2), int64(8), object(1)
memory usage: 7.7+ MB

## Showcase

In [15]:
# make showcase columns
showcase.columns = ['Телефон_new', 'Выручка_bought', 'Абсолютная маржа_bought', 'Маржа_bought',
       'Средняя маржа_bought', 'Средний чек_bought', 'Кол-во чеков_bought',
       'Кол-во товаров_bought', 'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought']

In [16]:
# Showcase with the main indicators with redeemed and placed goods
showcase.to_csv('showcase_general_info.csv', index=False, sep=';') 

def pr(x, tag): 
    return (np.array(x).reshape((-1)) == tag).sum()

In [17]:
df_delivered = df_delivered[df_delivered['Группа2'].notna()]

In [18]:
len(df_delivered['Группа2'].unique())

13

### Group 2

In [19]:
#add group2 columns
items_Group2 = df_delivered.groupby(['Телефон_new']).agg({
    'Группа2': [
        ('КРУПНОГАБАРИТНЫЙ ТОВАР', lambda x: pr(x, 'КРУПНОГАБАРИТНЫЙ ТОВАР')),
        ('ТЕКСТИЛЬ, ТРИКОТАЖ', lambda x: pr(x, 'ТЕКСТИЛЬ, ТРИКОТАЖ')),
        ('ОБУВЬ', lambda x: pr(x, 'ОБУВЬ')),
        ('КАНЦТОВАРЫ, КНИГИ, ДИСКИ', lambda x: pr(x, 'КАНЦТОВАРЫ, КНИГИ, ДИСКИ')),
        ('ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', lambda x: pr(x, 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ')),
        ('ИГРУШКИ', lambda x: pr(x, 'ИГРУШКИ')),
        ('КОСМЕТИКА/ГИГИЕНА', lambda x: pr(x, 'КОСМЕТИКА/ГИГИЕНА')),
        ('СОПУТСТВУЮЩИЕ ТОВАРЫ', lambda x: pr(x, 'СОПУТСТВУЮЩИЕ ТОВАРЫ')),
        ('ЖЕНСКИЕ ШТУЧКИ', lambda x: pr(x, 'ЖЕНСКИЕ ШТУЧКИ')),
        ('ПОДГУЗНИКИ', lambda x: pr(x, 'ПОДГУЗНИКИ')),
        ('ДЕТСКОЕ ПИТАНИЕ', lambda x: pr(x, 'ДЕТСКОЕ ПИТАНИЕ')),
        ('ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА', lambda x: pr(x, 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА')),
        ('ТОВАРЫ ДЛЯ ЖИВОТНЫХ', lambda x: pr(x, 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ'))
    ]
})


items_Group2.columns = items_Group2.columns.get_level_values(1) 
items_Group2 = items_Group2.groupby(level = 0).agg('sum');

In [20]:
items_Group2.shape

(83765, 13)

In [21]:
items_Group2.to_csv('items_Group2.csv', index=False, sep=';')

### Region

In [22]:
#add region columns
name_region = df_delivered.groupby(['Телефон_new']).agg({
    'Регион': [
        ('Центральный ф.о.', lambda x: pr(x, 'Центральный ф.о.')),
        ('Приволжский ф.о.', lambda x: pr(x, 'Приволжский ф.о.')),
        ('Северо-Западный ф.о.', lambda x: pr(x, 'Северо-Западный ф.о.')),
        ('Южный ф.о.', lambda x: pr(x, 'Южный ф.о.')),
        ('Сибирский ф.о.', lambda x: pr(x, 'Сибирский ф.о.')),
        ('Уральский ф.о.', lambda x: pr(x, 'Уральский ф.о.')),
        ('Дальневосточный ф.о.', lambda x: pr(x, 'Дальневосточный ф.о.')),
        ('Восточно-Сибирский ф.о.', lambda x: pr(x, 'Восточно-Сибирский ф.о.')),
        ('Крымский ф.о.', lambda x: pr(x, 'Крымский ф.о.')),
        ('Северо-Кавказский ф.о.', lambda x: pr(x, 'Северо-Кавказский ф.о.'))
      
    ]
})


name_region.columns = name_region.columns.get_level_values(1) 
name_region = name_region.groupby(level = 0).agg('sum');

In [23]:
name_region.shape

(83765, 10)

In [24]:
name_region.to_csv('name_region.csv', index=False, sep=';')

### Type

In [25]:
df_delivered['Тип'].unique()

array(['ОДЕЖДА', 'ИГРУШКИ', 'КГТ', 'ППКП', 'ИНОЕ'], dtype=object)

In [26]:
#add type columns
items_type = df_delivered.groupby(['Телефон_new']).agg({
    'Тип': [
        ('КГТ', lambda x: pr(x, 'КГТ')),
        ('ОДЕЖДА', lambda x: pr(x, 'ОДЕЖДА')),
        ('ИГРУШКИт', lambda x: pr(x, 'ИГРУШКИ')),
        ('ППКП', lambda x: pr(x, 'ППКП')),
        ('ИНОЕ', lambda x: pr(x, 'ИНОЕ'))

      
    ]
})


items_type.columns = items_type.columns.get_level_values(1) 
items_type = items_type.groupby(level = 0).agg('sum');

In [27]:
items_type.shape

(83765, 5)

In [28]:
items_type.to_csv('items_type.csv', index=False, sep=';')

### Deleting unuseful features

In [29]:
df_delivered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374683 entries, 0 to 425808
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Дата                374683 non-null  object
 1   НомерЗаказаНаСайте  374683 non-null  object
 2   НовыйСтатус         374683 non-null  object
 3   Регион              374683 non-null  object
 4   Группа2             374683 non-null  object
 5   Группа3             374683 non-null  object
 6   Группа4             354056 non-null  object
 7   Тип                 374683 non-null  object
 8   Номенклатура        374683 non-null  object
 9   ТипТовара           374683 non-null  object
 10  Отменено            374683 non-null  object
 11  Количество          374683 non-null  int64
 12  Цена                374683 non-null  float64
 13  ЦенаЗакупки         373770 non-null  float64
 14  МесяцДатыЗаказа     374683 non-null  int64
 15  ГодДатыЗаказа       374683 non-null  object
 16  Статус              374683 non-null  object
 17  Гео                 374683 non-null  object
 18  НомерСтроки         374683 non-null  int64
 19  ДатаЗаказаНаСайте   374683 non-null  object
 20  Телефон_new         374683 non-null  object
 21  ГородМагазина       374683 non-null  object
 22  МагазинЗаказа       2826 non-null    object
 23  ГодДаты             374683 non-null  int64
 24  МесяцДаты           374683 non-null  int64
 25  ДеньНеделиДаты      374683 non-null  int64
 26  ДеньДаты            374683 non-null  int64
 27  ВремяОкруглДаты     374683 non-null  object
 28  СуммаСтроки_v       374683 non-null  float64
 29  Маржа_v             373770 non-null  float64
dtypes: float64(4), int64(7), object(19)
memory usage: 88.6+ MB

In [30]:
df_delivered.drop(['ГородМагазина'], axis=1, inplace=True)

In [31]:
df_delivered['Регион'].unique()

array(['Уральский ф.о.', 'Приволжский ф.о.', 'Центральный ф.о.',
       'Южный ф.о.', 'Сибирский ф.о.', 'Северо-Западный ф.о.',
       'Дальневосточный ф.о.', 'Северо-Кавказский ф.о.'], dtype=object)

In [32]:
df_delivered.drop(['МагазинЗаказа'], axis=1, inplace=True)

In [34]:
df_delivered.head()

,Дата,НомерЗаказаНаСайте,НовыйСтатус,Регион,Группа2,Группа3,Группа4,Тип,Номенклатура,ТипТовара,...,НомерСтроки,ДатаЗаказаНаСайте,Телефон_new,ГодДаты,МесяцДаты,ДеньНеделиДаты,ДеньДаты,ВремяОкруглДаты,СуммаСтроки_v,Маржа_v
0,2017-03-01 12:22:00,3999117_TR,Доставлен,Уральский ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),боди,ОДЕЖДА,"GAMEX, БОДИ кор. рук. Roza, (бел/сер), р. 86, ...",МГТ,...,3,2017-03-01,55575453-56535648535679,2017,3,3,1,12:00:00,379.0,169.2
1,2017-03-01 12:31:00,3999122_TR,Доставлен,Уральский ф.о.,ИГРУШКИ,ИГРУШКИ ДЛЯ ДЕВОЧЕК,имитационные игрушки для девочек,ИГРУШКИ,"ИГРУША, ХОЛОДИЛЬНИК (на бат), (29,5*19*45,5 см)",МГТ,...,1,2017-03-01,55574950-57515657535772,2017,3,3,1,12:00:00,3325.0,2176.0
2,2017-03-01 11:38:00,3999411_TR,Доставлен,Приволжский ф.о.,ИГРУШКИ,ИГРУШКИ ДЛЯ РАЗВИТИЯ МАЛЫШЕЙ,игрушки для ванной,ИГРУШКИ,"S+S TOYS, ИГРУШКА ПВХ в наборе, (2 шт)",МГТ,...,3,2017-03-01,55574854-56495552515179,2017,3,3,1,11:00:00,199.0,120.0
3,2017-03-01 12:19:00,3999682_TR,К отгрузке,Центральный ф.о.,ИГРУШКИ,КОНСТРУКТОРЫ,конструкторы - тип Лего,ИГРУШКИ,"LEGO Duplo, КОНСТРУКТОР Лошадки, (20 дет.)",МГТ,...,3,2017-03-01,55574851-53495753545674,2017,3,3,1,12:00:00,719.0,50.4
4,2017-03-01 12:19:00,3999682_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКАЯ ОДЕЖДА (2-6 лет),леггинсы,ОДЕЖДА,"FUN TIME, ЛОСИНЫ р. 3 г",МГТ,...,4,2017-03-01,55574851-53495753545674,2017,3,3,1,12:00:00,490.0,194.0

### Showcase by group 2

In [35]:
showcase_Group2  = (showcase.merge(
    items_Group2, on = ['Телефон_new'], how='inner'))

In [36]:
showcase_Group2.to_csv('showcase_Group2.csv', index=False, sep=';')

### Showcase by Region

In [37]:
showcase_Region  = (showcase.merge(
    name_region, on = ['Телефон_new'], how='inner'))

In [38]:
showcase_Region.to_csv('showcase_Region.csv', index=False, sep=';')

### Showcase by Type

In [39]:
showcase_Type  = (showcase.merge(
    items_type, on = ['Телефон_new'], how='inner'))

In [40]:
showcase_Type.to_csv('showcase_Type.csv', index=False, sep=';')

## Final showcase

In [41]:
showcase_Group2 = pd.read_csv('showcase_Group2.csv', sep=';')
showcase_Region = pd.read_csv('showcase_Region.csv', sep=';')
showcase_Type = pd.read_csv('showcase_Type.csv', sep=';')

# Create copies of the original dataframes
showcase1 = showcase_Group2.copy()
showcase2 = showcase_Region.copy()
showcase3 = showcase_Type.copy()

showcase1['sum_Group2'] = showcase1.loc[:, 'КРУПНОГАБАРИТНЫЙ ТОВАР':'ТОВАРЫ ДЛЯ ЖИВОТНЫХ'].sum(axis=1)
showcase2['sum_Region'] = showcase2.loc[:, 'Центральный ф.о.':'Северо-Кавказский ф.о.'].sum(axis=1)
showcase3['sum_Type'] = showcase3.loc[:, 'КГТ':'ИНОЕ'].sum(axis=1)


# Calculate proportions for Group2 columns
col_Group2 = ['КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ']

for col in col_Group2:
    showcase1[col] = (showcase1[col] / showcase1['sum_Group2']).round(2)

# Calculate proportions for Region columns
col_Region = ['Центральный ф.о.', 'Уральский ф.о.', 'Северо-Западный ф.о.', 'Приволжский ф.о.', 'Южный ф.о.', 'Сибирский ф.о.', 'Дальневосточный ф.о.', 'Восточно-Сибирский ф.о.', 'Крымский ф.о.', 'Северо-Кавказский ф.о.']

for col in col_Region:
    showcase2[col] = (showcase2[col] / showcase2['sum_Region']).round(2)

# Calculate proportions for Type columns
col_Type = ['КГТ', 'ОДЕЖДА', 'ИГРУШКИт', 'ППКП', 'ИНОЕ']

for col in col_Type:
    showcase3[col] = (showcase3[col] / showcase3['sum_Type']).round(2)

del showcase1['sum_Group2']
del showcase2['sum_Region']
del showcase3['sum_Type']

# Combine the three dataframes into one
showcase_final = pd.concat([showcase1, showcase2, showcase3], axis=1)

showcase_final.columns

Index(['Телефон_new', 'Выручка_bought', 'Абсолютная маржа_bought',
       'Маржа_bought', 'Средняя маржа_bought', 'Средний чек_bought',
       'Кол-во чеков_bought', 'Кол-во товаров_bought',
       'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought',
       'КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ', 'Телефон_new', 'Выручка_bought',
       'Абсолютная маржа_bought', 'Маржа_bought', 'Средняя маржа_bought',
       'Средний чек_bought', 'Кол-во чеков_bought', 'Кол-во товаров_bought',
       'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought',
       'Центральный ф.о.', 'Приволжский ф.о.', 'Северо-Западный ф.о.',
       'Южный ф.о.', 'Сибирский ф.о.', 'Уральский ф.о.',
       'Дальневосточный ф.о.', 'Восточно-Сибирский ф.о.', 'Крымский ф.о.',
       'Северо-Кавказский ф.о.', 'Телефон_new', 'Выручка_bought',
       'Абсолютная маржа_bought', 'Маржа_bought', 'Средняя маржа_bought',
       'Средний чек_bought', 'Кол-во чеков_bought', 'Кол-во товаров_bought',
       'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought', 'КГТ',
       'ОДЕЖДА', 'ИГРУШКИт', 'ППКП', 'ИНОЕ'],
      dtype='object')

In [42]:
#showcase_final = showcase_final.T.drop_duplicates().T
showcase_final = showcase_final.loc[:,~showcase_final.columns.duplicated()]

In [43]:
showcase_final.to_csv('showcase_final.csv', index=False, sep=';')

In [44]:
showcase_final.columns

Index(['Телефон_new', 'Выручка_bought', 'Абсолютная маржа_bought',
       'Маржа_bought', 'Средняя маржа_bought', 'Средний чек_bought',
       'Кол-во чеков_bought', 'Кол-во товаров_bought',
       'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought',
       'КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ', 'Центральный ф.о.', 'Приволжский ф.о.',
       'Северо-Западный ф.о.', 'Южный ф.о.', 'Сибирский ф.о.',
       'Уральский ф.о.', 'Дальневосточный ф.о.', 'Восточно-Сибирский ф.о.',
       'Крымский ф.о.', 'Северо-Кавказский ф.о.', 'КГТ', 'ОДЕЖДА', 'ИГРУШКИт',
       'ППКП', 'ИНОЕ'],
      dtype='object')

In [45]:
showcase_final

,Телефон_new,Выручка_bought,Абсолютная маржа_bought,Маржа_bought,Средняя маржа_bought,Средний чек_bought,Кол-во чеков_bought,Кол-во товаров_bought,Среднее кол-во товаров в чеке_bought,Кол-во уникальных клиентов_bought,...,Уральский ф.о.,Дальневосточный ф.о.,Восточно-Сибирский ф.о.,Крымский ф.о.,Северо-Кавказский ф.о.,КГТ,ОДЕЖДА,ИГРУШКИт,ППКП,ИНОЕ
0,55575453-56535648535679,4875,846,0.17,70.50,380,12,16,6,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.25,0.25,0.5,0.0
1,55574950-57515657535772,3325,2176,0.65,2176.00,3325,1,1,1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.00,1.00,0.0,0.0
2,55574854-56495552515179,528,204,0.39,51.00,132,4,4,4,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.50,0.5,0.0
3,55574851-53495753545674,2962,654,0.22,109.00,494,6,6,6,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.17,0.83,0.0,0.0
4,55574948-52515357485779,2196,759,0.35,189.75,366,4,6,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83609,55574851-50535648495271,886,296,0.33,296.00,443,1,2,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,0.0
83610,55575056-49565452495078,10390,2369,0.23,2369.00,10390,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.00,0.00,0.0,0.0
83611,55575050-50505549555678,375,38,0.10,38.00,375,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,1.0,0.0
83612,55574948-52535051534878,320,57,0.18,57.00,320,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,1.0,0.0
83613,55575448-54485054565479,10390,2369,0.23,2369.00,10390,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.00,0.00,0.0,0.0

In [46]:
categories = ['КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
              'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
              'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
              'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
              'ТОВАРЫ ДЛЯ ЖИВОТНЫХ', 'КГТ', 'ОДЕЖДА', 'ИГРУШКИт',
              'ППКП', 'ИНОЕ']


#Multiply the proportion of each category's revenue by the total revenue for each row
for category in categories:
    new_column_name = category + ' выручка'
    showcase_final[new_column_name] = (showcase_final[category] * showcase_final['Выручка_bought']).round(2)

In [47]:
showcase_final = showcase_final

In [48]:
showcase_final.columns

Index(['Телефон_new', 'Выручка_bought', 'Абсолютная маржа_bought',
       'Маржа_bought', 'Средняя маржа_bought', 'Средний чек_bought',
       'Кол-во чеков_bought', 'Кол-во товаров_bought',
       'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought',
       'КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ', 'Центральный ф.о.', 'Приволжский ф.о.',
       'Северо-Западный ф.о.', 'Южный ф.о.', 'Сибирский ф.о.',
       'Уральский ф.о.', 'Дальневосточный ф.о.', 'Восточно-Сибирский ф.о.',
       'Крымский ф.о.', 'Северо-Кавказский ф.о.', 'КГТ', 'ОДЕЖДА', 'ИГРУШКИт',
       'ППКП', 'ИНОЕ', 'КРУПНОГАБАРИТНЫЙ ТОВАР выручка',
       'ТЕКСТИЛЬ, ТРИКОТАЖ выручка', 'ОБУВЬ выручка',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ выручка', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ выручка',
       'ИГРУШКИ выручка', 'КОСМЕТИКА/ГИГИЕНА выручка',
       'СОПУТСТВУЮЩИЕ ТОВАРЫ выручка', 'ЖЕНСКИЕ ШТУЧКИ выручка',
       'ПОДГУЗНИКИ выручка', 'ДЕТСКОЕ ПИТАНИЕ выручка',
       'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА выручка', 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ выручка',
       'КГТ выручка', 'ОДЕЖДА выручка', 'ИГРУШКИт выручка', 'ППКП выручка',
       'ИНОЕ выручка'],
      dtype='object')

In [49]:
showcase_final

,Телефон_new,Выручка_bought,Абсолютная маржа_bought,Маржа_bought,Средняя маржа_bought,Средний чек_bought,Кол-во чеков_bought,Кол-во товаров_bought,Среднее кол-во товаров в чеке_bought,Кол-во уникальных клиентов_bought,...,ЖЕНСКИЕ ШТУЧКИ выручка,ПОДГУЗНИКИ выручка,ДЕТСКОЕ ПИТАНИЕ выручка,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА выручка,ТОВАРЫ ДЛЯ ЖИВОТНЫХ выручка,КГТ выручка,ОДЕЖДА выручка,ИГРУШКИт выручка,ППКП выручка,ИНОЕ выручка
0,55575453-56535648535679,4875,846,0.17,70.50,380,12,16,6,1,...,0.0,390.0,2047.5,0.0,0.0,0.0,1218.75,1218.75,2437.5,0.0
1,55574950-57515657535772,3325,2176,0.65,2176.00,3325,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,3325.00,0.0,0.0
2,55574854-56495552515179,528,204,0.39,51.00,132,4,4,4,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,264.00,264.0,0.0
3,55574851-53495753545674,2962,654,0.22,109.00,494,6,6,6,1,...,0.0,0.0,0.0,0.0,0.0,0.0,503.54,2458.46,0.0,0.0
4,55574948-52515357485779,2196,759,0.35,189.75,366,4,6,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,2196.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83609,55574851-50535648495271,886,296,0.33,296.00,443,1,2,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,886.00,0.00,0.0,0.0
83610,55575056-49565452495078,10390,2369,0.23,2369.00,10390,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,10390.0,0.00,0.00,0.0,0.0
83611,55575050-50505549555678,375,38,0.10,38.00,375,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,375.0,0.0
83612,55574948-52535051534878,320,57,0.18,57.00,320,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,320.0,0.0
83613,55575448-54485054565479,10390,2369,0.23,2369.00,10390,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,10390.0,0.00,0.00,0.0,0.0

In [50]:
# round values 
showcase_final = showcase_final.round({'Маржа_bought': 2, 'Средняя маржа_bought': 2})

In [51]:
showcase_final

,Телефон_new,Выручка_bought,Абсолютная маржа_bought,Маржа_bought,Средняя маржа_bought,Средний чек_bought,Кол-во чеков_bought,Кол-во товаров_bought,Среднее кол-во товаров в чеке_bought,Кол-во уникальных клиентов_bought,...,ЖЕНСКИЕ ШТУЧКИ выручка,ПОДГУЗНИКИ выручка,ДЕТСКОЕ ПИТАНИЕ выручка,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА выручка,ТОВАРЫ ДЛЯ ЖИВОТНЫХ выручка,КГТ выручка,ОДЕЖДА выручка,ИГРУШКИт выручка,ППКП выручка,ИНОЕ выручка
0,55575453-56535648535679,4875,846,0.17,70.50,380,12,16,6,1,...,0.0,390.0,2047.5,0.0,0.0,0.0,1218.75,1218.75,2437.5,0.0
1,55574950-57515657535772,3325,2176,0.65,2176.00,3325,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,3325.00,0.0,0.0
2,55574854-56495552515179,528,204,0.39,51.00,132,4,4,4,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,264.00,264.0,0.0
3,55574851-53495753545674,2962,654,0.22,109.00,494,6,6,6,1,...,0.0,0.0,0.0,0.0,0.0,0.0,503.54,2458.46,0.0,0.0
4,55574948-52515357485779,2196,759,0.35,189.75,366,4,6,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,2196.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83609,55574851-50535648495271,886,296,0.33,296.00,443,1,2,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,886.00,0.00,0.0,0.0
83610,55575056-49565452495078,10390,2369,0.23,2369.00,10390,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,10390.0,0.00,0.00,0.0,0.0
83611,55575050-50505549555678,375,38,0.10,38.00,375,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,375.0,0.0
83612,55574948-52535051534878,320,57,0.18,57.00,320,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,320.0,0.0
83613,55575448-54485054565479,10390,2369,0.23,2369.00,10390,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,10390.0,0.00,0.00,0.0,0.0

In [59]:
# add target column
showcase_final['target'] = 0

In [60]:
# add target, where 1 - client that bought in last month, 0 - client that did not buy in last month
bought_in_june = df_delivered[df_delivered['МесяцДаты']==4]['Телефон_new']

showcase_final['target'] = showcase_final['Телефон_new'].isin(bought_in_june).astype(int)

print('Non-regular clients:\t', showcase_final[showcase_final['target'] == 0 ]['target'].count())
print('Regular clients:\t', showcase_final[showcase_final['target'] == 1 ]['target'].count())
print('Total:\t\t\t', len(showcase_final))

Non-regular clients:	 38098
Regular clients:	 45516
Total:			 83614

In [61]:
showcase_final

,Телефон_new,Выручка_bought,Абсолютная маржа_bought,Маржа_bought,Средняя маржа_bought,Средний чек_bought,Кол-во чеков_bought,Кол-во товаров_bought,Среднее кол-во товаров в чеке_bought,Кол-во уникальных клиентов_bought,...,ПОДГУЗНИКИ выручка,ДЕТСКОЕ ПИТАНИЕ выручка,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА выручка,ТОВАРЫ ДЛЯ ЖИВОТНЫХ выручка,КГТ выручка,ОДЕЖДА выручка,ИГРУШКИт выручка,ППКП выручка,ИНОЕ выручка,target
0,55575453-56535648535679,4875,846,0.17,70.50,380,12,16,6,1,...,390.0,2047.5,0.0,0.0,0.0,1218.75,1218.75,2437.5,0.0,0
1,55574950-57515657535772,3325,2176,0.65,2176.00,3325,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,3325.00,0.0,0.0,0
2,55574854-56495552515179,528,204,0.39,51.00,132,4,4,4,1,...,0.0,0.0,0.0,0.0,0.0,0.00,264.00,264.0,0.0,0
3,55574851-53495753545674,2962,654,0.22,109.00,494,6,6,6,1,...,0.0,0.0,0.0,0.0,0.0,503.54,2458.46,0.0,0.0,0
4,55574948-52515357485779,2196,759,0.35,189.75,366,4,6,3,1,...,0.0,0.0,0.0,0.0,0.0,2196.00,0.00,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83609,55574851-50535648495271,886,296,0.33,296.00,443,1,2,2,1,...,0.0,0.0,0.0,0.0,0.0,886.00,0.00,0.0,0.0,1
83610,55575056-49565452495078,10390,2369,0.23,2369.00,10390,1,1,1,1,...,0.0,0.0,0.0,0.0,10390.0,0.00,0.00,0.0,0.0,1
83611,55575050-50505549555678,375,38,0.10,38.00,375,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,375.0,0.0,1
83612,55574948-52535051534878,320,57,0.18,57.00,320,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,320.0,0.0,1
83613,55575448-54485054565479,10390,2369,0.23,2369.00,10390,1,1,1,1,...,0.0,0.0,0.0,0.0,10390.0,0.00,0.00,0.0,0.0,1

In [62]:
# drop columns that we don't need for final results
showcase_final.drop(['КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ'], axis=1, inplace= True)

KeyError: "['КРУПНОГАБАРИТНЫЙ ТОВАР' 'ТЕКСТИЛЬ, ТРИКОТАЖ' 'ОБУВЬ'\n 'КАНЦТОВАРЫ, КНИГИ, ДИСКИ' 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ' 'ИГРУШКИ'\n 'КОСМЕТИКА/ГИГИЕНА' 'СОПУТСТВУЮЩИЕ ТОВАРЫ' 'ЖЕНСКИЕ ШТУЧКИ' 'ПОДГУЗНИКИ'\n 'ДЕТСКОЕ ПИТАНИЕ' 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА' 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ'] not found in axis"

In [ ]:
showcase_final = showcase_final

In [63]:
showcase_final

,Телефон_new,Выручка_bought,Абсолютная маржа_bought,Маржа_bought,Средняя маржа_bought,Средний чек_bought,Кол-во чеков_bought,Кол-во товаров_bought,Среднее кол-во товаров в чеке_bought,Кол-во уникальных клиентов_bought,...,ПОДГУЗНИКИ выручка,ДЕТСКОЕ ПИТАНИЕ выручка,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА выручка,ТОВАРЫ ДЛЯ ЖИВОТНЫХ выручка,КГТ выручка,ОДЕЖДА выручка,ИГРУШКИт выручка,ППКП выручка,ИНОЕ выручка,target
0,55575453-56535648535679,4875,846,0.17,70.50,380,12,16,6,1,...,390.0,2047.5,0.0,0.0,0.0,1218.75,1218.75,2437.5,0.0,0
1,55574950-57515657535772,3325,2176,0.65,2176.00,3325,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,3325.00,0.0,0.0,0
2,55574854-56495552515179,528,204,0.39,51.00,132,4,4,4,1,...,0.0,0.0,0.0,0.0,0.0,0.00,264.00,264.0,0.0,0
3,55574851-53495753545674,2962,654,0.22,109.00,494,6,6,6,1,...,0.0,0.0,0.0,0.0,0.0,503.54,2458.46,0.0,0.0,0
4,55574948-52515357485779,2196,759,0.35,189.75,366,4,6,3,1,...,0.0,0.0,0.0,0.0,0.0,2196.00,0.00,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83609,55574851-50535648495271,886,296,0.33,296.00,443,1,2,2,1,...,0.0,0.0,0.0,0.0,0.0,886.00,0.00,0.0,0.0,1
83610,55575056-49565452495078,10390,2369,0.23,2369.00,10390,1,1,1,1,...,0.0,0.0,0.0,0.0,10390.0,0.00,0.00,0.0,0.0,1
83611,55575050-50505549555678,375,38,0.10,38.00,375,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,375.0,0.0,1
83612,55574948-52535051534878,320,57,0.18,57.00,320,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,320.0,0.0,1
83613,55575448-54485054565479,10390,2369,0.23,2369.00,10390,1,1,1,1,...,0.0,0.0,0.0,0.0,10390.0,0.00,0.00,0.0,0.0,1

In [64]:
# save to csv file final showcase
showcase_final.to_csv('vitrina_final1.csv',index=False,encoding='utf-8')